

.texto-1{
    text-align: center;
    font-size:80px;
    padding-top:100px;
    
}

.wrapper{
    border-radius:100px;
    text-align:center;
    margin: 80px 40px ;
    padding:100px ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem,12rem));
    gap:12rem;
    justify-content: center;
    background-color: #667261;
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 30px #000000 ;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    margin-top:20px;
  

   &__image{
    height:11rem;
    height: 100%;
    width:100%;
    object-fit: cover;
 }

 &__title{
    padding: 1rem;
 }

 &__description{
    padding: 0 1rem;
 }

&__btn{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #B5B4A2;
    background: transparent;
    color: #667261;
    border-radius:15px;
} 

&:hover{
    transform: scale(1.1);
}

&:hover &__btn{
    background: #414B43;
    color:#C8C7BC;
}
}

@media screen and (max-width: 480px) {
    .texto-1{
        padding-top: 300px;
        flex-direction: column;
        text-align: center;    
  
 }
}